

.settings-wrap{
    background-image: url(../../../../assets/img/paper-cell.jpg);
    background-position: center;
    padding: 80px 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px black;

    position: relative;
    left: -90%;
    transition: all .3s;

    .volume-container{
        .audio-img{
            height: 20px;
            width: 20px;
            margin-right: 12px;
        }
    }
    .panner-container{
        display: flex;
    }	

    .lang-container{
        display: flex;
        justify-content: space-around;
        margin: 5px auto;
        .selected{
            color: brown;
            //border-bottom: 3px solid black;
        }
        .settings-lang:hover{
            transform: scale(1.1);
        }
    }

    .theme-wrapp{
        display: flex;
        justify-content: center;

        input{
            margin: 0 5px;
            cursor: pointer;
        }
    }
    
    	
    
    .settings-btn{
    padding: 8px 25px !important;
    }
}
