$font-game-field: 'Bad Script', cursive;

.lvl-page-lvl-box{
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .lvl-page-lvl-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .lvl-page-lvl{
            display: flex;
            flex-direction: row;
            padding: 10px;
            font-family: $font-game-field; 
            font-size: 30px;
            font-weight: bold;
            color: rgb(65, 0, 187);
            .lvl-page-footprints{
                transition: all .2s;
                opacity: 0;
                margin-left: 10px;
                margin-right: 10px;
            }
        }
        .lvl-page-lvl:hover{
            cursor: pointer;
           .lvl-page-footprints{
            opacity: .7;
            } 
        } 
    }
}

