$colour-login-message: red;
$colour-login-password-length: grey;
$colour-login-border: blue;
.login-wrapper{
	display: flex;
	padding: 2px 5px;
	font-size: 24px;
	flex-direction: column;
	border-radius: 5px;
	background-image: url(../../assets/img/paper-cell.jpg);
	border-radius: 5px;
	box-shadow: 0 0 10px black;
	
	.login-email{
		margin: 10px;
		padding: 2px 5px;
		font-size: inherit;
		border: 2px solid #000;
		border-radius: 5px;
	}
	.login-password{
		font-size: inherit;
		margin: 10px;
		padding: 2px 5px;
		border: 2px solid #000;
		border-radius: 5px;
	}
	.login-password-length{
		font-size: 12px;
		margin: 10px;
		margin-top: 0;
		color: $colour-login-password-length;
	}
	.login-buttons-wrapper{
		font-size: inherit;
		margin: 10px;
		display: flex;
		justify-content: space-between;
		.login-button {
			margin: 0 2px;
			background-color: transparent;
		}
	}
	.login-message{
		text-align: center;
		color: $colour-login-message;
	}
}