.statistic-wrap{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url(../../../../assets/img/paper-cell.jpg);
    height: 80%; 
    background-position: center;
    padding: 80px 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px black;

    position: relative;
    right: -90%;
    transition: all .3s;

    .stat-table{
        border: 1px solid black	;
        width: 100%;
        margin-bottom: auto;
    }


    .info-btn{
        display: flex;
        flex-wrap: wrap;
        div{
            display: flex;
            align-items: center;
            background-color: transparent;
            padding: 8px 25px !important;
            font-size: 10px;
            line-height: 10px;
        }
    }
}
.hided{
	display: none;
	visibility: hidden;
}