.statistic-wrap{
    background-image: url(../../../../assets/img/paper-cell.jpg);
    background-position: center;
    padding: 80px 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
    
}